.square {
	width: 150px;
	height: 150px;
}

.m {
	border: 3px solid black;
}

.lr {
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.ud {
	border-bottom: 4px solid black;
	border-top: 4px solid black;
}

.clicked {
  color: #39ea9e;
  text-align: center;
  font-size: 3em;
  font-family: helvetica, sans-serif;
  font-style: oblique;
}